body {
  width: 90%;
  margin: auto;
}

* {
  margin: 10px;
}

button {
  padding: 4px;

  border: 1px solid black;
  border-radius: 3px;
}

td {
  border: 1px solid black;
}

.header {
  display: flex;

  margin: 15px;
}

.header > * {
  padding-left: 15px
}

.header > button {
  height: 35px;
}

.userinfo {
  margin-left: auto;

  text-align: right;
}

.body {
  display: grid;

  grid-template: auto auto / auto auto;
}

.body > * {  
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  border-radius: 6px;

  text-align: center;
}

.login {
  display: grid;

  grid-template: auto auto auto / 40% 50%;

  width: 50%;

  margin: auto;
  margin-top: 30%;

  padding: 15px;

  border: 1px solid black;
}

.login > p:nth-child(2n + 1) {
  text-align: right;
}

.login > button {
  grid-column: 2 / 2;
}

.searchBox {
  flex-direction: row;
  
  text-align: left;
}

.selected {
  background-color: #AAAAAA;
}

.cartBox {
  border: none;

  margin-left: auto;
  width: 20%;

  text-align: right;
}

.coursesBox {}

.enrollBox {}

.box {
  padding: 10px;

  border: 1px solid black;
}

.details {
  display: grid;
  grid-template: auto auto auto auto / auto auto;

  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;

  text-align: left;
}

.details > p:nth-child(2n + 1) {
  text-align: right;
}

.footer {
  width: 100%;

  margin: auto;
  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: center; 

  border-top: 1px solid black;
}

.pageFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center; 

  border-top: 1px solid black;
}

.enrollBox > .footer > Button {
  margin-left: auto;
}
